.nav{
    background-color: darkgray;
    color: white;
}

.navList{
    display: flex;
    justify-content: space-around;
}

.navList a {
    text-decoration: none;
    list-style: none;
    margin: 0.5rem;
    padding: 1rem;
}

.navList a:visited{
    color: inherit;
}